@import "tailwindcss";

:root {
  --background-light: #ffffff;
  --foreground-light: #171717;

  --background-dark: #0a0a0a;
  --foreground-dark: #ededed;
}

html.light {
  background-color: var(--background-light);
  color: var(--foreground-light);
}

html.dark {
  background-color: var(--background-dark);
  color: var(--foreground-dark);
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}
